
<div class="modal-body">
    <div class="login col-5 mx-auto">
        <h5 class="text-center mb-4">Resend Verification Mail</h5>

        <div class="alert alert-danger mt-1" *ngIf="activationError">
            <div>{{activationError}}</div>
        </div>

        <div class="alert alert-success" *ngIf="resendSuccess">
            <div>{{resendSuccess}}</div>
        </div>

        <form class="form" [formGroup]="resendForm" (ngSubmit)="onSubmit()">
            <div class="form-group">     
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email" required
                [ngClass]="{'is-invalid': submitted && check.email.errors}">
                <div class="alert alert-danger mt-1" *ngIf="submitted && check.email.errors">
                    <small *ngIf="check.email.errors.email">Enter Valid Email</small>
                    <small *ngIf="check.email.errors.required">Please enter your Email</small>
                </div>
                <div class="alert alert-danger mt-1" *ngIf="emailError">
                    <small>{{emailError}}</small>
                </div>
            </div>
            <div class="form-group">
                <label class="mb-2">Password</label>
                <input type="password" class="form-control" formControlName="password" required
                [ngClass]="{'is-invalid': submitted && check.password.errors}">
                <div class="alert alert-danger mt-1" *ngIf="submitted && check.password.errors">
                    <small *ngIf="check.password.errors.required">Please enter your Password</small>
                </div>
                <div class="alert alert-danger mt-1" *ngIf="passwordError">
                    <small>{{passwordError}}</small>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg  mb-4">Send</button>
            <button type="button" (click)="back()" class="btn btn-danger btn-lg  float-right">Back</button>
            
        </form>
        
    </div>
</div>